<h1>Events</h1>

<% @events.each do |event| %>

  <div>
    <h2><%= event.name %></h2>
    <p><%= event.location %></p>
    <p><%= event.event_date %></p>

    <% if user_signed_in? %>
      <% if current_user.attending_events.include?(event) %>
        <%= button_to "Cancel Attendance", event_unattend_path(event), method: :delete %>
      <% else %>
        <%= button_to "Attend Event", event_attend_path(event), method: :post %>
      <% end %>
    <% else %>
      <p>Not Logged in</p>
    <% end %>

    <ul>
      <% event.attendances.each do |attendee| %>
        <li><%= attendee.user_id %></li>
      <% end %>
    </ul>
  </div>

<% end %>
